.wrapper {
    max-width: 1078px;
    margin: 0 auto;
}

html {
    @include fontSize(10);
    color: $primaryTextColor;
    font-family: 'Roboto', sans-serif;
}

nav li {
    list-style-type: none;
    a {
        text-decoration: none;
        color: $primaryTextColor;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
    
}

// FONT STYLINGS

h1 {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 7.5rem;
}

h2 {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    font-size: 5rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    
}

p {
    font-size: 1.3rem;
    line-height: 30px;
}


.topBar {
    h3 {
        font-family: 'Lora', serif;
    }
}

a {
    text-transform: uppercase;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

input,
textarea {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-style: italic;
    border: none;
    margin: 10px;
    resize: none;
}

input[type="submit"] {
    margin: 0;
    padding: 20px;
    background: $buttonColor;
    font-style: normal;
    text-transform: uppercase;
}

//BUTTON STYLING

button {
    border: none;
    padding: 10px 20px;
    background-color:#05AFC1;
    text-transform: uppercase;
    font-weight: bold;
    transition: 1s;
}

button:hover,
button:focus {
    color: white;
    cursor:pointer;
}



