.topBar {
    
    @include flexBothCenter;
    ul {
        @include flexBothCenter;
        padding-left: 0px;
        margin: 0px;
        
        li a {
            transition: color 1s, transform 1s;
        }

        li {
            transition: color 1s, transform 1s;
        }

        li:hover a,
        li:focus a {
            transform:scale(2);
        }
        
    }

    ul li a:hover,
    ul li a:focus {
        color: white;
        transform:scale(2);
        
    }
}

