$primaryTextColor: #2C2C2C;
$secondaryTextColor: white;
$accentTextColor: #285e64;
$buttonColor: #05AFC1;
$mainBackgroundColor: #f0efed;
$secondaryBackgroundColor: #f6a823;
$accentBackgroundColor: #a82706;
